@-webkit-keyframes loading {
  0% {
    z-index: 1;
  }
  90% {
    z-index: 1;
    background-color: #eae6e6;
  }
  100% {
    z-index: -1;
    background-color: white;
  }
}

@keyframes loading {
  0% {
    z-index: 1;
  }
  90% {
    z-index: 1;
    background-color: #eae6e6;
  }
  100% {
    z-index: -1;
    background-color: white;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes grew {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grew {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  background-color: white;
}

.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-animation: loading 2s;
          animation: loading 2s;
  background-color: #eae6e6;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader__spinner {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 10px solid transparent;
  border-left: 10px solid #98e2cf;
  border-right: 10px solid #ff7ad9;
  border-radius: 50%;
  -webkit-animation: spin 2s linear;
          animation: spin 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader__spinner .spinnerr {
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-left: 10px solid #ff7ad9;
  border-right: 10px solid #98e2cf;
  border-radius: 50%;
  -webkit-animation: grew 2s;
          animation: grew 2s;
}

.loader__charge {
  margin-top: 30px;
  font-size: 35px;
  color: white;
}

.title {
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
}

.title img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: 0 auto;
  padding: 20px 0px 10px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eae6e6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.75;
}

.map > p {
  margin-left: 15px;
}

.map input {
  border: 0;
  background-color: #eae6e6;
}

.map ::-webkit-input-placeholder {
  opacity: 1;
  color: black;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 16px;
}

.map :-ms-input-placeholder {
  opacity: 1;
  color: black;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 16px;
}

.map ::-ms-input-placeholder {
  opacity: 1;
  color: black;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 16px;
}

.map ::placeholder {
  opacity: 1;
  color: black;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 16px;
}

.explore {
  text-align: center;
  padding-top: 30px;
  background-color: #eae6e6;
  -webkit-filter: brightness(1.08);
          filter: brightness(1.08);
}

.explore__menu {
  margin: 0 40px;
}

.explore__menu h2 {
  font-weight: 700;
}

.explore__menu p {
  font-family: 'Robotolight', sans-serif;
  opacity: 0.6;
}

.explore__restaurant {
  padding-bottom: 30px;
}

.explore__restaurant p {
  border-radius: 30px;
  padding: 15px;
  margin: 0px 60px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7ad9), to(#9256dc));
  background: linear-gradient(#ff7ad9, #9256dc);
}

.explore__restaurant p:hover {
  -webkit-box-shadow: 3px 3px 20px grey;
          box-shadow: 3px 3px 20px grey;
  opacity: 0.9;
  cursor: pointer;
}

.fonction {
  background-color: white;
  text-align: left;
  margin: auto 0;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.fonction__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Robotolight', sans-serif;
  position: relative;
  left: -20px;
  font-size: 13px;
  padding: 8px;
  width: 8px;
  height: 8px;
  color: white;
  background-color: #9256dc;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.fonction > h2 {
  padding: 50px 0px;
  margin-bottom: 0px;
}

.fonction__use {
  padding: 5px;
  padding-right: 0px;
  margin-bottom: 30px;
  margin-left: 50px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: #eae6e6;
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonction__use p {
  margin-left: 20px;
}

.fonction__use i {
  color: grey;
}

.fonction__use .centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.fonction__use:hover {
  background-color: #e9ddf8;
  -webkit-box-shadow: 3px 3px 20px grey;
          box-shadow: 3px 3px 20px grey;
  opacity: 0.9;
  cursor: pointer;
}

.fonction__use:hover i {
  color: #9256dc;
}

.resto {
  background-color: #eae6e6;
  -webkit-filter: brightness(1.07);
          filter: brightness(1.07);
  margin: 0;
  padding: 30px 0px 50px;
}

.resto h2 {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.restocard {
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
}

.restocard__image img {
  margin: 0 auto;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restocard__image .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  padding: 5px;
  font-size: 14px;
  background-color: #98e2cf;
  position: relative;
  float: right;
  top: -160px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3a826d;
  font-weight: bold;
  border-radius: 3px;
}

.restocard__description {
  padding: 10px;
}

.restocard__description > h3, .restocard__description > p {
  margin: 3px 0;
}

.restocard__description > p {
  font-family: 'Robotolight', sans-serif;
  font-size: 16px;
}

.restocard__heart {
  font-size: 20px;
  position: relative;
  top: -40px;
  margin-right: 10px;
  float: right;
}

.restocard__heart .heartfull {
  display: none;
}

.restocard__heart:hover .heartvoid {
  display: none;
}

.restocard__heart:hover .heartfull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9256dc;
  -webkit-animation: grew 1s;
          animation: grew 1s;
}

.restocard:hover {
  -webkit-box-shadow: 3px 3px 20px grey;
          box-shadow: 3px 3px 20px grey;
  opacity: 0.9;
}

footer {
  background-color: #3a3636;
  color: white;
  font-size: 15px;
  font-family: 'Robotolight', sans-serif;
  padding: 20px;
}

footer .footresto {
  margin-bottom: 7px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a p {
  margin: 10px 0px;
}

footer img {
  height: 17px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .title img {
    height: 50px;
    padding-bottom: 20px;
  }
  .fonction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fonction h2 {
    width: 100%;
    padding: 20px;
  }
  .fonction__use {
    width: 27%;
    margin-bottom: 50px;
  }
  .explore__restaurant {
    width: 50%;
    margin: auto;
  }
  .resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .resto h2 {
    width: 100%;
  }
  .restocard {
    width: 360px;
    margin-bottom: 30px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 60px;
    padding-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer img {
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  footer .footresto {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .explore__restaurant {
    width: 50%;
    margin: auto;
  }
  .restocard {
    width: 470px;
  }
}
/*# sourceMappingURL=mobile.css.map */