$color-primary: hsl(267, 66%, 60%);
$color-secondary: hsl(317, 100%, 74%);
$color-hover: hsl(316, 59%, 84%);
$color-tertiary: hsl(165, 56%, 74%);
$bg-color-explore:hsl(0, 9%, 91%);
$bg-color-footer:hsl(0, 4%, 22%);
$footer-text-color:hsl(0, 0%, 100%);

@mixin text-design-light{ 
    font-family: 'Robotolight', sans-serif;
}
@mixin sizepicture {
    margin: 0 auto;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
@mixin fonction {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: $bg-color-explore;
}
@mixin round{
   border-radius: 20px;
}
@mixin round-circle{
   border-radius: 30px;
}
@mixin round-imageresto{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
@mixin shadows {
    box-shadow: 3px 3px 3px grey; 
}
@mixin shadows-hover{
    box-shadow: 3px 3px 20px grey;
    opacity: 0.9;
}
@keyframes loading{
    0%{ z-index: 1;}
    90%{z-index: 1; background-color:$bg-color-explore ;}
    100%{z-index: -1; background-color: white;}
}
@keyframes spin{
    0%{ transform: rotate(0deg);}
    90%{transform: rotate(720deg);opacity: (1);}
     100%{ opacity:(0);}   
}
@keyframes grew{
    0%{ transform: scale(0);}
    100%{transform: scale(1); }
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-size: 17px;
    letter-spacing: 0;
    margin: 0;
    padding:0;
    background-color: white;
}

.loader{
    position: fixed;
    -moz-position: fixed;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -moz-align-items: center;
    -moz-justify-content: center;
    -moz-flex-direction: column;

    width: 100%;
    height: 100%;
    animation: loading 2s;
    -moz-animation: loading 2s;
    background-color: $bg-color-explore;
    animation-fill-mode: forwards;
    &__spinner{
        width: 100px;
        height:100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 10px solid transparent;
        border-left: 10px solid $color-tertiary;
        border-right: 10px solid $color-secondary;
        .spinnerr{ 
            width: 50px;
            height:50px;
            border: 10px solid transparent;
        border-left: 10px solid $color-secondary;
            border-right: 10px solid $color-tertiary;
            border-radius: 50%;
            animation: spinlittle 2s;
            
         }
        border-radius: 50%;
        animation:spin 2s linear;
        animation-fill-mode: forwards;
    }
    &__charge{
        margin-top: 30px;
        font-size: 35px;
        color: white;
    }
}


.title{
    @include shadows;
    img{
    display: flex;
    height: 30px;
    margin: 0 auto;
    padding: 20px 0px 10px;
    }
}

.map{
    display: flex;
    background: $bg-color-explore;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
    &>p{
        margin-left: 15px;
    }
    input{
        border: 0;
        background-color: $bg-color-explore;
    }
    ::placeholder{
        opacity: 1;
        color: black;
        font-weight: bold;
        font-family: 'Roboto';
        font-size: 16px;
    }
}
.explore{
    text-align: center;
    padding-top: 30px;
    background-color: $bg-color-explore;
    filter: brightness(1.08);

    &__menu{
        margin: 0 40px;
        h2{font-weight: 700}
        p{ @include text-design-light;
        opacity: 0.6;   
        }
    }

    &__restaurant{
        padding-bottom: 30px;
        p{
            @include round-circle;
            padding: 15px;
            margin: 0px 60px;
            color: white;
            background:linear-gradient( $color-secondary, $color-primary);   
        }
    }
}

.fonction{
    background-color: white;
    text-align: left;
    margin: auto 0;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 50px;
    &__number{
    display: flex;  
    @include text-design-light;
    position: relative;
    left: -20px;
    font-size: 13px;
    padding: 8px;
    width: 8px;
    height: 8px;
    color: white;
    background-color: $color-primary;
    justify-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    }

    &>h2{
    padding: 50px 0px;
    margin-bottom: 0px;
    }

    &__use{ 
        padding: 5px;
        padding-right: 0px;
        margin-bottom: 30px;
        
        @include round;
        @include fonction;
        @include shadows;
        align-items: center;
        p{
        margin-left: 20px;
        }
        i{color: grey;}
    }

    &__use:hover{
    background-color: lighten($color: $color-primary , $amount: 32%);
    i{color: $color-primary;}
    @include shadows-hover;
    cursor: pointer;    
    }
}

.resto{
    background-color: $bg-color-explore;
    filter: brightness(1.07);
    margin: 0;
    padding: 30px 0px 50px;
    h2{
        margin-left: 20px;
    }
}
a{
    text-decoration: none;
    color: black;
}
.restocard{
    width: 90%;
    margin: 0 auto;
    @include round;
    background-color: white;
    margin-bottom: 20px;
    @include shadows;
    &__image img{
    @include sizepicture;
    @include round-imageresto;    
    }
    &__image .new{
        display: flex;
        width: 60px;
        padding: 5px;
        font-size: 14px;
        background-color: $color-tertiary;
        position: relative;  
        float: right;
        top: -160px;
        margin-right: 10px;
        align-items: center;
        color: hsl(162, 38%, 37%);
        font-weight: bold;
        border-radius: 3px;    
    }
    &__description{
        padding: 10px;
    }
    &__description>h3, &__description>p{
        margin: 0;
        margin: 3px 0;
        }
    &__description>p{
        @include text-design-light;
        font-size: 16px;
       
    }
    &__heart{
        font-size: 20px;
        .heartfull{display: none;}
        position: relative;
        top: -40px;
        margin-right: 10px;
        float: right;   
    }
    
    &__heart:hover {
        .heartvoid{display:none;}
        .heartfull{
            display: flex; 
            color: $color-primary;   
            animation: heart 1s;
        }
    }
    &:hover{ @include shadows-hover;}
}

footer{
    background-color: $bg-color-footer;
    color: $footer-text-color;
    font-size: 15px;
    @include text-design-light;
    padding: 20px;
    .footresto{
        margin-bottom: 7px;
    }
    a{
        text-decoration: none;
        color: $footer-text-color;
        p{ margin: 10px 0px;}
    }
    img{
        height: 17px;
        filter: invert(100%);
        margin-bottom: 15px;
    }
}
