@-webkit-keyframes introfade {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes introfade {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

h3, h2, h1, p {
  margin: 4px 0;
}

h2 {
  font-family: 'Roboto light', sans-serif;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 40px;
  border-bottom: 3px solid #98e2cf;
  width: 40px;
  font-size: 15px;
  opacity: 0.8;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  margin: 0 auto;
}

header .titlemenu {
  padding: 25px 10px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .titlemenu__back {
  margin-right: 30px;
}

header .titlemenu__back i {
  position: absolute;
  top: 35px;
  left: 15px;
  color: #363535;
  font-size: 20px;
}

header .titlemenu__logo img {
  height: 30px;
}

header img {
  margin: 0 auto;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: #f1f1f1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0px 15px;
  position: relative;
  top: -30px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  margin-right: 20px;
  font-size: 18px;
  margin: 0;
  font-family: 'Shrikhand', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  opacity: 0;
  -webkit-animation: introfade 1s linear;
          animation: introfade 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin-bottom: 15px;
  -webkit-box-shadow: 5px 5px 5px #919191;
          box-shadow: 5px 5px 5px #919191;
}

.container:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.container:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.container:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.container__text {
  -webkit-transition: margin-right 1s;
  transition: margin-right 1s;
  min-width: 0;
}

.container__text h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container__text p {
  position: relative;
  font-family: 'Roboto light', sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container__price {
  font-weight: bold;
  position: relative;
  top: 15px;
  right: -15px;
  margin-right: 30px;
  -webkit-transition: -webkit-transform 500ms linear 10ms;
  transition: -webkit-transform 500ms linear 10ms;
  transition: transform 500ms linear 10ms;
  transition: transform 500ms linear 10ms, -webkit-transform 500ms linear 10ms;
}

.container__ok {
  background-color: #98e2cf;
  position: absolute;
  right: -81px;
  padding: 28px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  -webkit-transition: -webkit-transform 500ms linear 50ms;
  transition: -webkit-transform 500ms linear 50ms;
  transition: transform 500ms linear 50ms;
  transition: transform 500ms linear 50ms, -webkit-transform 500ms linear 50ms;
}

.container__ok i {
  color: #98e2cf;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 500ms linear 50ms;
  transition: -webkit-transform 500ms linear 50ms;
  transition: transform 500ms linear 50ms;
  transition: transform 500ms linear 50ms, -webkit-transform 500ms linear 50ms;
}

.container:hover {
  cursor: pointer;
}

.container:hover > .container__text {
  margin-right: 81px;
}

.container:hover > .container__ok, .container:hover > .container__price {
  -webkit-transform: translateX(-81px);
          transform: translateX(-81px);
}

.container:hover > .container__ok i {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

.command {
  display: block;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 16px;
  margin: 0;
  margin: 50px 60px;
  padding: 15px 0px;
  color: white;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7ad9), to(#9256dc));
  background: linear-gradient(#ff7ad9, #9256dc);
}

footer {
  background-color: #3a3636;
  color: white;
  font-size: 15px;
  font-family: 'Roboto light', sans-serif;
  padding: 20px;
}

footer .footresto {
  margin-bottom: 7px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a p {
  margin: 10px 0px;
}

footer img {
  height: 17px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  header .titlemenu__logo img {
    height: 50px;
    padding-bottom: 20px;
  }
  header img {
    height: 300px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ctn {
    width: 47%;
    margin: 0 auto;
  }
  .title {
    width: 100%;
  }
  .command {
    width: 100%;
    padding: 20px 0px;
    font-size: 20px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 60px;
    padding-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer img {
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  footer .footresto {
    margin-top: 5px;
  }
}

@media screen and (min-width: 992px) {
  .ctn {
    width: 30%;
  }
  .command {
    width: 50%;
    margin: 40px auto;
  }
}
/*# sourceMappingURL=mobilemenu.css.map */